@{
    ViewData["Title"] = "Payment Successful";
}

<div class="text-center">
    <h1 class="display-4">Thank You!</h1>

    @if (!string.IsNullOrEmpty(ViewBag.ErrorMessage))
    {
        <p class="text-danger">@ViewBag.ErrorMessage</p>
    }
    else
    {
        <p class="text-success">Your payment was successful. Your license key has been sent to <strong class="text-primary">@ViewBag.CustomerEmail</strong>.</p>
    }

    <h4 class="text-danger">If you do not find the license key in your primary inbox, kindly check your spam or junk mail folder as well.</h4>
    @* <p>You can now <a href="/Customer/Login">login</a> to access your license.</p> *@
</div>